In [3]:
#2106145_A.Abdul Latif
#Praktikum Kecerdasan Buatan

import pandas as pd

#import dataset
dataset= pd.read_csv('InternetUser.csv')

#Tampilkan 5 baris pertama dari dataset
print(dataset.head())

#cek jumlah missing values pada kolom
print(dataset['Online_Gaming'].isna().sum())

#mengganti missing values pada kolom dengan nilai baru
dataset['Online_Gaming'].fillna('N', inplace=True)

#cek kembali jumlah missing values pada kolom
print(dataset['Online_Gaming'].isna().sum())

#cek kembali jumlah missing values pada kolom
print(dataset['Read_News'].isna().sum())

#mengganti missing values pada kolom dengan nilai baru
dataset['Read_News'].fillna('N', inplace=True)

# cek kembali jumlah missing values pada kolom
print(dataset['Read_News'].isna().sum())

#cek kembali jumlah missing values pada kolom
print(dataset['Other_Social_Network'].isna().sum())

#mengganti missing values pada kolom dengan nilai baru
dataset['Other_Social_Network'].fillna('N', inplace=True)

# cek kembali jumlah missing values pada kolom
print(dataset['Other_Social_Network'].isna().sum())

# Ubah Nilai yang tidak konsisten pada atribut
dataset['Twitter'].replace(['99'], ['N'], inplace=True)

#Tampilkan hasil perubahan
print(dataset['Twitter'].value_counts())

  Gender              Race  Birth_Year Marital_Status  Years_on_Internet  \
0      M             White        1972              M                  8
1      M          Hispanic        1981              S                 14
2      F  African American        1977              S                  6
3      F             White        1961              D                  8
4      M             White        1954              M                  2

   Hours_Per_Day  Preferred_Browser Preferred_Search_Engine Preferred_Email  \
0              1            Firefox                  Google           Yahoo
1              2             Chrome                  Google         Hotmail
2              2            Firefox                   Yahoo           Yahoo
3              6            Firefox                  Google         Hotmail
4              3  Internet Explorer                    Bing         Hotmail

  Read_News Online_Shopping Online_Gaming Facebook Twitter  \
0         Y               N             N        Y       N
1         Y               N             N        Y       N
2         Y               Y           NaN        Y       N
3         N               Y             N        N       Y
4         Y               Y             N        Y       N

  Other_Social_Network
0                  NaN
1                  NaN
2                  NaN
3                  NaN
4                  NaN
3
0
1
0
7
0
N    9
Y    2
Name: Twitter, dtype: int64